@using Microsoft.AspNetCore.Components.Authorization
@inject NavigationManager Navigation

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized Context="auth">
                    @if (!(auth.User?.Identity?.IsAuthenticated ?? false))
                    {
                        @* Redirect unauthenticated users to /login *@
                        @if (!Navigation.Uri.EndsWith("/login", StringComparison.OrdinalIgnoreCase))
                        {
                            Navigation.NavigateTo("/login");
                        }
                    }
                    else
                    {
                        <LayoutView Layout="@typeof(MainLayout)">
                            <p role="alert">You are not authorized to access this resource.</p>
                        </LayoutView>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Sorry, there's nothing at this address.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
